.headerContainer {
    height:37rem!important;
    position:relative;
}
.headerContainer::after {
    height:37rem!important;
    content:'';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-image: url('../../../images/hdtravel.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    /* background-color: #3A4256!important; */
    z-index: -50;
    opacity:0.75;
}

@media only screen and (min-device-width: 511px) and (max-device-width:767px) {
   
    .headerContainer::after {
        height:24rem!important;
        top: 13rem!important;
        z-index: -50;
        opacity:0.75;
    }
    .imgHeader{
        padding:1rem!important;
    }

}
@media only screen and (min-device-width: 431px) and (max-device-width:511px) {
    .headerContainer::after {
        height:23rem!important;
        top: 14rem!important;
    }
    .imgHeader{
        padding:1rem!important;
    }
}
@media only screen and (min-device-width: 362px) and (max-device-width:431px) {
    .headerContainer::after {
        height:18rem!important;
        top: 18rem!important;
    }
    .imgHeader{
        padding:1rem!important;
    }
}
   
@media only screen and (min-device-width: 200px) and (max-device-width:362px) {

    .headerContainer::after {
        height:17rem!important;
        top: 20rem!important;
    }
    .imgHeader{
        padding:1rem!important;
    }
}