.ulStyle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.featureImage {
    background-size: cover;
    background-attachment: fixed;
}
.featureStyle{
    background-image: url('../../../../images/fixed.jfif');
}