

@media only screen and (min-device-width: 432px) and (max-device-width:500px) {
    .fontOrderStyle{
        font-size:12px!important;
        padding:0px!important;
    }
    .tableOrder{
        padding:0px!important;
    }
    .colOrder{
        padding:0px!important;
    }
     
}
@media only screen and (min-device-width: 300px) and (max-device-width:431px) {
    .fontOrderStyle{
        font-size:10px!important;
        padding:0px!important;
    }
    .tableOrder{
        padding:0px!important;
    }
    .colOrder{
        padding:0px!important;
    }
     
}
